<h1>{{ componentTitle | append | enclose : '*' }}</h1>

<!-- Form based on Bootstrap styles to create new users -->
<div class="container mt-5">

  <div class="form-area">

    <!-- Reactive form -->
    <form [formGroup]="userForm" (ngSubmit)="addUser()">

      <div class="form-group">
        <label>User name</label>
        <input type="text" placeholder="User name" class="form-control"
               name="fullName" formControlName="fullName">

        <div class="alert alert-danger" *ngIf="userControl.fullName.invalid && userControl.fullName.touched">
          <div *ngIf="userControl.fullName.errors?.required">User full name is required</div>
          <div *ngIf="userControl.fullName.errors?.minlength">User full name must be at least 5 letters long</div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="User email" class="form-control"
               name="email" formControlName="email">

        <div class="alert alert-danger" *ngIf="userControl.email.invalid && userControl.email.touched">
          <div *ngIf="userControl.email.errors?.required">The email is required</div>
          <div *ngIf="userControl.email.errors?.email">The email is invalid</div>
        </div>
      </div>

      <!-- Nested form group -->
      <div formGroupName="contactDetails">
        <div class="form-group">
          <label>Address</label>
          <textarea cols="30" rows="10" placeholder="User Address" class="form-control"
                    name="address" formControlName="address"></textarea>

          <div class="alert alert-danger" *ngIf="userControl.address?.invalid && userControl.address?.touched">
            <div *ngIf="userControl.address.errors?.required">Address is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>Shipping Address</label>
          <textarea cols="30" rows="10" placeholder="Shipping Address" class="form-control"
                    name="shippingAddress" formControlName="shippingAddress"></textarea>

          <div class="alert alert-danger" *ngIf="userControl.shippingAddress?.invalid && userControl.shippingAddress?.touched">
            <div *ngIf="userControl.shippingAddress.errors?.required">Shipping address is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>Contact Number</label>
          <input type="text" placeholder="Contact number" class="form-control"
                 name="contactNumber" formControlName="contactNumber">

          <div class="alert alert-danger" *ngIf="userControl.contactNumber?.invalid && userControl.contactNumber?.touched">
            <div *ngIf="userControl.contactNumber.errors?.required">Contact number is required</div>
            <div *ngIf="userControl.contactNumber.errors?.number">Contact number not valid</div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label>Skills</label>
        <input type="text" placeholder="Skills" class="form-control"
               #skill (keyup.enter)="addSkills(skill)">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let skill of userControl.skills.controls; let i = index">
            {{ skill.value }}
            <a class="btn btn-sm btn-danger" (click)="removeSkill(i)">X</a>
          </li>
        </ul>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save data</button>

    </form>

  </div>

</div>

<div *ngIf="userList.length > 0; then usersTable else emptyTable"></div>

<!-- NgTemplate to make the table visible in case of data stored -->
<ng-template #usersTable>
  <div class="table-area">
    <table width="500">
      <thead>
      <th>Id</th>
      <th>User</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let user of userList; let i = index">
        <td>{{ i | number }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td><button (click)="deleteUser(i)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- NgTemplate to display a message of empty array -->
<ng-template #emptyTable>
  <div class="form-area">
    <h4>There are no users registered</h4>
  </div>
</ng-template>
