<h1>{{ componentTitle | append | enclose : '*' }}</h1>

<!-- Form based on Bootstrap styles to enter the post information -->
<div class="container mt-5">

  <div class="form-area">

    <!-- Use of NgForm template to send and manipulate form values via (ngSubmit) -->
    <form [formGroup]="postForm" (ngSubmit)="addPost()">

      <div class="form-group">
        <label>Post title</label>
        <input type="text" placeholder="Post title" class="form-control"
               name="postTitle" formControlName="postTitle">

        <div class="alert alert-danger" *ngIf="postTitle.invalid && postTitle.touched">
          <div *ngIf="postTitle.errors?.required">A post title is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Details</label>
        <textarea cols="30" rows="10" placeholder="Post details" class="form-control"
                  name="postDetails" formControlName="postDetails"></textarea>

        <div class="alert alert-danger" *ngIf="postDetails.invalid && postDetails.touched">
          <div *ngIf="postDetails.errors?.required">Post details are required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Image URL</label>
        <input type="text" placeholder="Post image URL" class="form-control"
               name="imageURL" formControlName="imageURL">

        <div class="alert alert-danger" *ngIf="imageURL.invalid && imageURL.touched">
          <div *ngIf="imageURL.errors?.required">Image URL is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Post URL</label>
        <input type="text" placeholder="Post URL" class="form-control"
               name="postURL" formControlName="postURL">

        <div class="alert alert-danger" *ngIf="postURL.invalid && postURL.touched">
          <div *ngIf="postURL.errors?.required">Post URL is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Add background</label>
        <input type="checkbox" class="form-control"
               name="addBackground" formControlName="addBackground">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Save data</button>

    </form>

  </div>

</div>

<!-- Form to give the user a real-time information preview of the entered data -->
<div class="preview-area">
  <p>{{ postDate | date }}</p>

  <img [src]="imageURL.value">

  <h1><span [class.add-background]="addBackground.value">{{ postTitle.value }}</span></h1>

  <p>{{ postDetails.value }}</p>

  <a [href]="postURL.value" [style.display]="postURL.value ? 'block':'none'" target="_blank">More details</a>
</div>

<!-- Includes the PostList component -->
<app-post-list></app-post-list>
